# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.docx
.pdf

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.pdf
C&D_Carbon_Formula_Methodology_Standards.pdf
Carbon-Tracking Dashboards in C&D Sector.pdf
Green_Build_Carbon_Calculations_Export.html
Green_Build_Carbon_Calculations_Export.pdf

